<% provide(:title, "会員一覧") %>
<div class = "container">
	<div class="row">
		<div class="col-xs-9">
			<h4 class="admin-title">
				<span class="title">会員一覧</span>
			</h4>
		</div>
		<div class="members-index">
			<table class="table list">
				<thead>
					<tr class="genre-info">
						<th>会員ID</th>
						<th>氏名</th>
						<th>メールアドレス</th>
						<th>ステータス</th>
					</tr>
				</thead>
				<tbody>
					<% if present? %>
						<% @members.each do |member| %>
							<tr class="genre-info2">
								<td><%= member.id %></td>
								<td>
									<%= link_to full_name(member), admin_member_path(member.id) %>
								</td>
								<td>
									<%= member.email %>
								</td>
								<td><!--状態-->
									<% if member.is_deleted == true %>
										退会済
									<% end %>
									<% if member.is_deleted == false %>
										有効
									<% end %>
								</td>
							</tr>
						<% end %>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>
</div>