<h2>ジャンル一覧・追加</h2>
<br>
<br>
<p>ジャンル</p>
<%= f.text_field :name %>
<!-- 有効・無効のポッチ -->
<!--追加ボタン-->
<table>
	<thead>
		<tr>
			<th>ジャンル</th>
			<th>状態</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>ケーキ</td>
			<td><!--状態--></td>
			<td><!--編集するボタン--></td>
		</tr>
		<tr>
			<td>プリン</td>
			<td><!--状態--></td>
			<td><!--編集するボタン--></td>
		</tr>
		<tr>
			<td>焼き菓子</td>
			<td><!--状態--></td>
			<td><!--編集するボタン--></td>
		</tr>
		<tr>
			<td>キャンディ</td>
			<td><!--状態--></td>
			<td><!--編集するボタン--></td>
		</tr>
	</tbody>
</table>