// Place all the styles related to the admin::genres controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h4 {
  padding-left: 40px;
}

table {
  margin-top: 30px;
}

tr {
  border: 1px solid #ddd;
}

.title {
  padding-left: 20px;
  padding-right: 20px;
  background-color: #ddd;
}

.genre-info {
  background-color: #ddd;
}

.genre-field {
  float: left;
}

.radio-button1 {
  float: left;
  padding-top: 3px;
  padding-left: 10px;
}

.radio-button2 {
  float: left;
  padding-top: 3px;
  padding-left: 10px;
  padding-right: 10px;
}