// Place all the styles related to the admin::items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/*---common---*/

dl dt{
  width: 165px;
  padding:10px 0;
  float:left;
  clear:both;
}

dl dd{
  padding:10px 0;
}

.show-heading, .new-heading{
  padding-left:150px;
  h3{
    height:40px;
    width:150px;
    text-align:center;
    padding-top:5px;
    border:3px solid #006060;
    background-color:#FFFFCC;
  }
}

/*---common---*/


/*---admin-item-index---*/

/*ネットコピペ,丸ボタン*/
.btn-circle-3d-dent {
  display: inline-block;
  text-decoration: none;
  background: #5dc3d0;
  color: rgb(82, 142, 150);
  width: 40px;
  font-size: 20px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  text-align: center;
  overflow: hidden;
  box-shadow: inset 0px 3px 0 rgba(255,255,255,0.3), 0 3px 3px rgba(0, 0, 0, 0.3);
  font-weight: bold;
  border-bottom: solid 3px #549fa9;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.65);
  transition: .4s;
  margin-bottom:10px;
}

.btn-circle-3d-dent:active {
  -webkit-transform: translateY(1px);
  transform: translateY(1px);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.35);
  border-bottom: none;
}
/*ネットコピペ*/


/*---admin-item-index---*/

/*---admin-item-new---*/

.btn-down{
  padding-top:250px;
}


/*---admin-item-new---*/

/*---admin-item-show---*/


.item-show-img{
  padding-left:20px
}

.item-show-menu{
  padding-left:150px;
  dd{
  font-size:20px;
  }
}

/*---admin-item-show---*/


/*admin-new*/