// Place all the styles related to the admin::orderItems controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


td {
  padding: 0 20px;
}

.head-box{
  margin-bottom:50px;
}

.bottom-box{
  margin-top:50px;
}
