<div class="row">
  <h2>このECサイトについて</h2>
  <p>長野県にある小さな洋菓子店「ながのケーキ」の商品を通販するためのECサイトです。<br>
    「ながのケーキ」のお菓子を全国の方々にもっと身近に、そして手軽に楽しんでいただくための機能を搭載しました。<br>
     顧客様用ECサイトと、管理者様用管理者サイトに分けたワイヤーフレームを採用しています。</p>
</div>
