// Place all the styles related to the member::cart_items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.cart-index{
	table{
		border:1px solid;
		width:100%;
		margin:20px auto;
		td,th{
			padding:10px;
		}
		th{
			border:1px solid;
		}
		td:nth-child(3),td:nth-child(4),td:nth-child(5){
			border:1px solid;
		}
		.btn-danger{
			display:block;
			max-width:80px;
		}
	}
}

form.edit_cart_item{
	input#cart_item_amount{
		width:40px;
		padding:2px;
	}
}

.cart-bottom{
	table{
		width:30%;
		tr{
			height:34px;
			th{
				width:50%;
			}
			td{
				width:50%;
			}
		}
	}
}