// Place all the styles related to the member::ships controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.ship-form{
	width:100%;
	margin:20px 0;
	table{
		width:100%;
		tr{
			border: none;
			td {
				input{
					width:100%;
					max-width:150px;
					height:40px;
					font-size:1em;
					border-radius:5px;
					&#ship_address{
						max-width:100%;
					}
				}
				&:first-child{
					text-align:left;
					width:200px;
				}
			}
		}
	}
}
.ships-index{
	table{
		width:100%;
		tr{
			td:nth-child(4),th:nth-child(4){
				width: 200px;
				padding:7px 0;
				text-align:center;
				.btn-primary{
					margin-right:15px;
				}
			}
		}
	}
}
