<!-- recieves genres -->

<div class="genres-box">
  <div class="genres-box-title">
    <h3>ジャンル検索</h3>
  </div>
  <div class="genres_list">
    <% genres.each do |genre| %>
        <%= genre.name %>
    <% end %>
  </div>
</div>
