<!-- recieves genres -->

<div class="genres-box">
  <div class="genres-box-title">
    <h4>ジャンル検索</h4>
  </div>
  <div class="genres_list">
    <ul>
        <% genres.each do |genre| %>
            <li><%= genre.name %></li>
        <% end %>
    </ul>
  </div>
</div>
