<!-- recieves genres -->

<div class="genres-box">
  <div class="genres-box-title">
    <span class="info-title">ジャンル検索</span>
  </div>
  <ul class="genres_list">
    <% genres.each do |genre| %>
      <li><%= link_to genre.name, search_item_path(genre.id) %></li>
    <% end %>
  </ul>
</div>
