<!-- recieves item -->

<div class="item_image">
  <%= attachment_image_tag item, :item_image, format: 'jpg', fallback: "no_image.jpg", size: "100x100" %>
</div>
<div class="item_details">
  <h2><%= item.name %></h2>
  <p><%= item.explanation %></p>
  <h3>¥<%= item.price.to_s(:delimited) %></h3><span class="in-tax">(税込)</span>
</div>
