<!-- recieves items -->

<% items.each do |item| %>
  <div class="item-box">
    <%= attachment_image_tag item, :item_image, format: 'jpg', fallback: "no_image.jpg", size: "100x100" %>
    <%= item.name %>
    <%= item.price.to_s(:delimited) %>
  </div>
<% end %>
