<!-- recieves pending_items -->

<% pending_items.each do |pending_item| %>
  <tr>
    <td><%= pending_item.item.name %></td>
    <td><%= unit_price_in_tax(pending_item).to_s(:delimited) %></td>
    <td><%= pending_item.amount %></td>
    <td><%= subtotal_price(pending_item).to_s(:delimited) %></td>
  </tr>
<% end %>
