<% provide(:title, "商品詳細") %>
<div class="row">
  <div class="col-xs-2">
    <%= render 'items/genres_box', genres: @genres %>
  </div>
  <div class="col-xs-10">
    <%= render 'items/item_show', item: @item %>
  </div>
  <div class="row">
    <div class="col-xs-4 col-xs-offset-8">
      <%= render 'items/cart_button', cart_item: CartItem.new, item: @item %>
    </div>
  </div>
</div>
