<div class="row">
  <div class="col-xs-2">
    <%= render 'items/genres_box', genres: @genres %>
  </div>
  <div class="col-xs-10">
    <%= render 'items/item_show', item: @item %>
    <%= render 'items/cart_button', cart_item: CartItem.new %>
  </div>
</div>
