<!-- recieves order_items -->

<table class="table table-bordered">
  <tr>
    <td>商品</td>
    <td>単価（税込）</td>
    <td>個数</td>
    <td>小計</td>
  </tr>
  <%= render 'items/item_contents', order_items: order_items %>
</table>
