<!-- recieves pending_items -->

<table class="table table-bordered">
  <tr>
    <th>商品</th>
    <th>単価（税込）</th>
    <th>個数</th>
    <th>小計</th>
  </tr>
  <%= render 'items/item_contents', pending_items: pending_items %>
</table>
