<!-- recieves order -->

  <div class="payment-method-buttons col-sm-offset-2 col-sm-10">
        <label>
          <%= f.radio_button :payment_method, :クレジットカード, checked: true %> クレジットカード
        </label><br>
        <label>
          <%= f.radio_button :payment_method, :銀行振込 %> 銀行振込
        </label>
  </div>
