<!-- recieves order -->

<%= form_for(order, url: members_orders_path) do |f| %>
  <div class="payment-method-buttons col-sm-offset-2 col-sm-10">
        <label>
          <%= f.radio_button :payment_method, 0 %> クレジットカード
        </label><br>
        <label>
          <%= f.radio_button :payment_method, 1 %> 銀行振込
        </label>
  </div>
<% end %>
