<div class="row">
  <div class="col-xs-12">
    <h3>注文履歴一覧</h3>
    <table class="table table-bordered">
      <tr>
        <th>注文日</th>
        <th>配送先</th>
        <th>注文商品</th>
        <th>支払金額</th>
        <th>ステータス</th>
        <th class="col-xs-1">注文詳細</th>
      </tr>
      <%= render 'member/orders/orders_list', orders: @orders %>
    </table>
  </div>

</div>
