<% provide(:title, "注文情報入力") %>
<div class="row order-info-new">
  <div class="page-title">
    <span>注文情報入力</span>
  </div>
  <div>
    <%= form_with(model: @order, url: confirm_members_orders_path, local: true) do |f| %>
    <div class="payment-new col-xs-12">
      <span class="info-title">支払方法</span><br>
      <%= render 'member/orders/payment_method_buttons', f: f %>
    </div>
    <div class="shipping-new col-xs-12">
      <span class="info-title">お届け先</span><br>
      <%= render 'member/ships/ship_buttons', f: f, new_ship: @new_ship %>
    </div>
    <% end %>
  </div>
</div>
