<div class="row">
  <h2>注文情報入力</h2>
  <h3>支払方法</h3>
  <%= render 'member/orders/payment_method_buttons', order: @order %>
  <h3>お届け先</h3>
  <%= render 'member/ships/ship_buttons', order: @order %>
</div>
