<% provide(:title, "注文履歴詳細") %>
<div class="row">
  <div class="page-title">
    <span>注文履歴詳細</span>
  </div>
      <div class="order&billing-info">
        <div class="order-info col-xs-5">
          <span class="info-title">注文情報</span>
          <%= render 'member/orders/order_info', order: @order %>
        </div>
        <div class="billing-info col-xs-3">
          <span class="info-title">請求情報</span>
          <%= render 'member/orders/billing_info', order: @order %>
        </div>
      </div>
</div>
<div class="row">
  <div class="order-contents col-xs-7">
      <span class="info-title">注文内容</span>
      <%= render 'member/orders/order_contents', pending_items: @order.order_items %>
  </div>
</div>
