/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*拡張言語をscssへ変更*/
/*bootstrapgemに必要*/
@import "bootstrap-sprockets";
@import "bootstrap";

/*font-awesome追加*/
@import "font-awesome-sprockets";
@import "font-awesome";

body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 15px;
  line-height: 18px;
}

header{
	height: 70px;
	width: 100%;
	color:#008080;
	background-color:#FFFFCC;
	.navbar-left{
		paddin:3px;
		margin-top:5px;
		margin-left:30px;
		font-size: 2em;
		line-height: 2em;
    display: inline-block;
	}
	.navbar-right{
		margin-right:20px;
		a{
			color:#008080;
			&:hover{
				background-color:#ffffaa;
				color:#006060;
			}
		}
	}
	.search-form {
		position:fixed;
		top:60px;
		right:30px;
		width:40%;
		max-width:400px;
	}
	.welcom-name{
		padding-top:15px;
		margin-top:9px;
    display: inline-block;
	}
}

.body {
	padding-top:70px;
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  margin: 30px auto 30px;
}

.page-title{
	span{
    padding:2px 20px;
		font-size:1.8em;
    line-height:100%;
    display: inline-block;
    background:#eee;
  	position:relative;
  	left:30px;
		}
	margin: 10px 0 20px;
}

.info-title{
	font-size:1.3em;
	font-weight:bold;
}

.link-box{
	width:100%;
	max-width:500px;
	display:flex;
	align-items: center;
	span{
		width:150px;
		padding:15px;
	}
	.btn{
		display:block;
		padding:7px 30px;
		margin-right:20px;
		line-height:20px;
	}
}

.actions{
	margin:30px auto;
}
.wide-btn{
	.btn{
		padding:5px 80px;
		width:30vw;
		max-width:300px;
	}
}

label{
	font-weight:normal;
}

td,th{
	padding: 7px 10px;
  vertical-align: middle !important; /*もし他のページのレイアウトに支障あればお伝えください！*/
  border-color: #222 !important;
}

th{
	background-color:#eee;
}

.no-border tr{
    border: none;
    td{
        border:none !important;
    }
}
