// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main-visual{
    height:300px;
    max-width: 600px;
    position:relative;
    background-image: url("sample6.jpg");
    background-size: contain;
    .main-message{
        position:absolute;
        top:100px;
        left:150px;
    }
}
