// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.genres-box{
  margin-bottom: 40px;
  border: solid 1px #222;
  border-radius: 5px;
  .genres-box-title{
    border-bottom: solid 1px #222;
    text-align: center;
    span{
      display: block;
      padding: 8px 2px;
    }
  }
  .genres_list{
    padding-left: 5px;
    li{
      list-style: none;
      margin: 20px 0;
      font-size: 1.3em;
      a{
        color: inherit;
        &:hover{
          color: #008080;
        }
      }
    }
  }
}

.item-index-title{
  h1{
    font-weight:bold;
    font-size: 2em;
    margin:0;
    span{
    font-weight:normal;
    font-size: 0.6em;
    }
  }
}
.item-index{
  margin-top: 20px;
  min-height: 500px;
  .item-box{
    min-height:150px !important;
    a{
      color:inherit;
    }
    img{
      // width:100%;
    }
  }
}

.center-align{
  text-align: center;
}

.item-show{
  .item-image img{
    width:100%;
  }
  .item-details{
    h3{
      margin:0;
      span{
        font-size: 0.7em;
      }
    }
    h3:first-child{
      font-weight: bold;
    }
    p#item-explanation{
      margin:20px 0 30px;
    }

  }
}
.cart-button{
  text-align: right;
  form{
    input{
      vertical-align: top;
    }
    input#cart_item_amount{
      width:85px;
      padding: 6px 0 6px 6px;
      margin-bottom: 10px;
      border-radius: 5px;
      &:focus{
        border:2px solid skyblue ;
        box-shadow: 0 0 5px skyblue;
        outline: 0;
      }
    }
  }
}


