<!--
	組み込み方が分からない
 	とりあえず形だけ
-->
<div class="row">
  <div class="input-group col-xs-4 col-xs-offset-8">
    <input type="text" class="form-control" placeholder="テキスト入力欄">
    <span class="input-group-btn">
      <button type="button" class="btn btn-default">
        <span class="glyphicon glyphicon-search"></span>
      </button>
    </span>
  </div>
</div>