<% if model.errors.any? %>
  <div id="error_explanation" class="alert alert-danger">
		<span class="info-title">
			<%= model.errors.count %>件のエラーが発生しています
		</span>
		<ul>
			<% model.errors.full_messages.each do |message| %>
				<li><%= message %></li>
			<% end %>
		</ul>
	</div>
<% end %>
