<% if model.errors.any? %>
  <div id="error_explanation" class="alert alert-danger">
		<h3><%= model.errors.count %>error occurrence</h3>
		<ul>
			<% model.errors.full_messages.each do |message| %>
				<li><%= message %></li>
			<% end %>
		</ul>
	</div>
<% end %>
